/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
*,*::after,*::before{
    box-sizing: border-box;
}
.container .section1{
    width: 100%;
    background-color:#e7ded7;
}
.container .section1 h2{  
    font-size: 26px;
    color: #1a3854;
    line-height: normal;
    text-align: center;
    padding-top: 5%;
    position: relative;
    display: block;
}
.container .section1 h2::before,.container .section1 h2::after{
    content: "";
    position: absolute;
    height: 2px;
    background-color: #979797;
    width: 122px;
    top: 65%;
}
.container .section1 h2::before{
    left: 65%;
}
.container .section1 h2::after{
    right: 65%;
}
.container .section1 img{
    max-width: 200px;
}
.container .section1 .feature{
    display: flex;
    justify-content: space-between;
    margin: 8% 5% 0% 5%;
    padding-bottom: 5%;
}
.container .section1 .feature .feature1,.feature2,.feature3{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .section1 .feature h3{
    font-size: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
}
.container .section1 .feature p{
    font-size: 18px;
    line-height: 20px;
    text-align: initial;
}
@media(max-width:768px){
    .container .section1 h2{  
        font-size: 20px;
    }
    .container .section1 h2::before,.container .section1 h2::after{
        width: 100px;
    }    
}

@media (max-width:390px) { 
    .container .section1 h2{  
        font-size: 18px;
    }
    .container .section1 h2::before,.container .section1 h2::after{
        width: 60px;
        top: 55%;
    }
    .container .section1 h2::before{
        left: 75%;
    }
    .container .section1 h2::after{
        right: 75%;
    }
    .container .section1 .feature{
        flex-direction: column;
        align-items: center;
        padding-bottom: 10%;
    }
    .container .section1 .feature .feature1,.feature2,.feature3{
        width: 80%;
    }
    .container .section1 .feature h3{
        margin-top: 8%;
        margin-bottom: 8%;
    }
    .container .section1 .feature p{
        width: 80%;
        text-align: start;
        margin-bottom: 8%;
    }
}

.container .section2{
    padding: 0 3% 0 3%;
    display: flex;
    background-color: #1a3854;
}
.container .section2 img{
    width: 50%;
    height: auto;
}
.container .section2 .today_chef{
    width: 48%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.container .section2 .today_chef h3{
    font-size: 20px;
    padding-bottom: 2%;
}
.container .section2 .today_chef h4{
    font-size: 15px;
    padding-bottom: 5%;
}
.container .section2 .today_chef p{
    font-size: 15px;
    line-height: 20px;
}
@media(max-width:768px){
    .container .section2{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .container .section2 img {
        width: 100%;
    }
    .container .section2 .today_chef{
        width: 100%;
        padding: 8% 5% 8% 5%;
    }

}
@media (max-width:390px){
    .container .section2{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .container .section2 img {
        width: 100%;
    }
    .container .section2 .today_chef{
        width: 100%;
        padding: 8% 5% 8% 5%;
    }
}
.container .section3{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e7ded7;
}
.container .section3 h3{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 24px;
    position: relative;
    display: block;
    padding-left: 2%;
    padding-right: 2%;
    color: #1a3854
}
.container .section3 h3::before,.container .section3 h3::after{
    content: "";
    position: absolute;
    height: 2px;
    background-color: #979797;
    width: 82px;
    top: 50%;
}
.container .section3 h3::before{
    left: 100%;
}
.container .section3 h3::after{
    right: 100%;
}
.container .section3 .reaction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 5%;
}
.container .section3 .reaction li{
    width: 30%;
    display: flex;
}
.container .section3 .reaction img{
    max-width: 50px;
    max-height: 50px;
}
.container .section3 .reaction .content{
    padding-left: 5%;
}
.container .section3 .reaction .content h4{
    padding-top: 18px;
    padding-bottom: 24px;
}
.container .section3 .reaction .content p{
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 5%;
}
.container .section3 .reaction .content h5{
    text-align: right;
}
@media(max-width:768px){

}

@media (max-width:390px){
    .container .section3 h3{
        padding: 10% 5% 10% 5%; 
    }    
    .container .section3 h3::before,.container .section3 h3::after{
        width: 50px;
    }
    .container .section3 .reaction{
        flex-direction: column;
        padding-bottom: 10%;
    }
    .container .section3 .reaction img{
        max-width: 70px;
        max-height: 70px;
    }
    .container .section3 .reaction li{
        width: 90%;
    }
    .container .section3 .reaction .content p{
        line-height: 24px;
    }
    .container .section3 .reaction .content h4{
        padding-top: 28px;
        padding-bottom: 30px;
    }    
}
.container .section4{
    width: 100%;
    background-color: #f6f4f3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .section4 h3{
    font-size: 24px;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    line-height: 30px;
    color: #112b44;
}
.container .section4 .reservation{
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
}
.container .section4 .reservation img{
    width: 50%;
}
.container .section4 .reservation form{
    width: 50%;
    padding-left: 1.5%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.container .section4 .reservation label{
    padding-bottom: 2%;
    font-size: 18px;
    color: #275a8a;
}
.container .section4 .reservation input{
    font-size: 15px;
    height: 35px;
    margin-bottom: 3%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding-left: 2%;
}
.container .section4 .reservation .radio .yes,.container .section4 .reservation .no{
    width: 20px;
    height: 20px;
    vertical-align: text-top   /* 按鈕與字對齊 */;
}
.container .section4 .reservation .btn{
    display: flex;
    justify-content: end;
}
.container .section4 .reservation .btn button{
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    margin-left: 10px;
    color: white;
}
.container .section4 .reservation .btn button:hover{
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    margin-left: 10px;
    color: white;
    box-shadow: black 0px 12px 10px -10px;
}
.container .section4 .reservation .btn .reset{
    background-color: #a09e91;
}
.container .section4 .reservation .btn .submit{
    background-color: #e88f12;
}
@media(max-width:768px){

}
@media (max-width:390px){
    .container .section4 .reservation{
        flex-direction: column;
        align-items: center;
    }
    .container .section4 .reservation img{
        width: 90%;
        margin-bottom: 5%;
    }
    .container .section4 .reservation form{
        width: 90%;
    }    
}