/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
*,*::after,*::before{
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efe9e7;
    padding-bottom: 5%;
}
.container h1{
    font-size: 48px;
    font-weight: bolder;
    color: #112a42;
    padding-top: 8%;
}
.container p{
    font-size: 20px;
    color: #112a42;
    padding-top: 2%;
}
.container .login{
    display: block;
    border-width: 5px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #e88f12 transparent transparent #ede7e5;
    border-radius: 5px;
    box-shadow: 8px 8px 10px -10px #718093 ;
    margin-top: 3%;
    width: 33%;
    padding: 2%;
}
.container .login form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
} 
.container .login h2{
    font-size: 18px;
    font-weight: bolder;
    padding-top: 3%;
    padding-bottom: 8%;
    text-align: center;
}
.container .login form label{
    font-size: 18px;
    padding-bottom: 3%;
}
.container .login form input{
    height: 30px;
    margin-bottom: 3%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding-left: 11%;
}
i.fa-envelope{
    position: absolute;
    top: 33px;
    left: 10px;
    color: #9e8880;
}
i.fa-lock{
    position: absolute;
    top: 99px;
    left: 10px;
    color: #9e8880;
}
.container .login form a{
    text-decoration: none;
    color: #e88f12;
    padding-bottom: 10%;
}
.container .login form a:hover{
    text-decoration: underline;
    color: #f56c23;
}
.container .login form .btn{
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
}
.container .login form .btn button{
    width: 48%;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    color: white;
    cursor: pointer;
}
.container .login form .btn button:hover{
box-shadow: 0px 10px 10px -10px black;
}
.container .login form .btn .register{
    background-color: #a09e91;
}
.container .login form .btn .submit{
    background-color: #e88f12;
}
@media (max-width:390px) {
    .container h1{
        padding-top: 10%;
    }
    .container .login{
        width: 85%;
        margin-top: 10%;
    }
}
