/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
*,*::after,*::before{
    box-sizing: border-box;
}
.wrap{
    max-width: 1024px;
    margin: 0 auto;
}
.header{
    background-image: url("img/header_desktop.png");
    width: 100%;
    padding-bottom: 40%;
    background-size: cover;
    position: relative;
}
.nav-bar{
    position: fixed;
    width: 100%;
    max-width: 1024px;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 10px 30px;
    background-color: rgba(0, 0, 0, 1);
}
.nav-bar .toggler{
    position: absolute;
    top: 0;
    right: 5px;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
    visibility: hidden;
}
.nav-bar .hamburger-line{
    position: absolute;
    top:0;
    right: 5px;
    z-index: 1;
    width: 50px;
    height: 50px;
    padding: 8px;
    background-color: black;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.nav-bar .hamburger-line div{
    position: relative;
    width: 100%;
    height: 3px;
    background: white;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.nav-bar .hamburger-line div::before, .nav-bar .hamburger-line div::after{
    content: '';
    position: absolute;
    z-index: 1;
    top: 12px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
}

.nav-bar .hamburger-line div::before{
    top: -12px;
}

.nav-bar .logo{
    background-image: url("img/logo_w@svg.svg");
    width: 120px;
    height: 24px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.nav-bar .menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-bar .menu li{
    margin-left: 30px
}
.nav-bar .menu a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.nav-bar .menu a::after{
    content: "";
    position: relative;
    border-bottom: white solid 5px;
    width: 0%;
    top: 10px;
    display: block;
    transition: all .2s;
}
.nav-bar .menu a:hover::after{
    width: 100%;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner .text{
    width: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 35%;
}
.banner .text .slogan{
    color: white;
    font-size: 30px;
    padding: 5% 3% 3% 3%;
    text-align: center;
}
.banner .text p{
    color: white;
    font-size: 16px;
    padding-bottom: 5%;
    text-align: center;
    line-height: normal;
}
@media(max-width:768px){
    .nav-bar .menu{
        position: fixed;
        z-index: 9;
		top: 53px;
		bottom: 100%;
		left: 0;
		right: 0;
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		transition: all .10s ease-in-out;
        visibility: hidden;    
    }
    .nav-bar .hamburger-line, .nav-bar .toggler,
    .nav-bar .toggler:checked ~ .menu {
        visibility: visible
    }
    .nav-bar{
        position: fixed;
    }
    .nav-bar .menu li{
        margin-left: 0;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .nav-bar .menu a{
        font-size: 24px;
    }

    .banner .text{
        width: 50%;
        top: 40%;
    }
    .banner .text .slogan{
        font-size: 28px;
    }
    .banner .text p{
        font-size: 20px;
    }


}
@media (max-width:390px) {
    .header{
        background-image: url("img/header_mobile.png");
        background-size: cover;
        background-repeat: no-repeat;
        min-width: none;height: 270px;
    }
    .banner .text{
        width: 55%;
        top: 40%;
    }
    .banner .text .slogan{
        font-size: 18px;
    }
    .banner .text p{
        font-size: 12px;
    }
}

.footer{
    background-color: #efe9e7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_logo_socialmedia{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .logo{
    background-image: url("img/logo_l@svg.svg");
    width: 240px;
    height: 48px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 40px;
    margin-bottom: 40px;
}
.socialmedia{
    display: flex;
    max-width: 180px;
    margin-bottom: 40px;
}
.socialmedia li{
    padding-right: 10px;
    padding-left: 10px;
}
.footer .info{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    min-width: 40%;
}
.footer .info h3{
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: bold;
}
.footer .info .about p{
    max-width: 250px;
    line-height: normal;
}
.footer .info .contact li{
    padding-bottom: 5px;
    list-style: disc inside;
    /* 點點在裡面 */
}
@media(max-width:768px){
    .footer{
        flex-wrap: wrap;
    }
}

@media (max-width:390px) {
    .footer .info{
        flex-direction: column;
        align-items: center;
    }
    .footer .info .about{
        margin-bottom: 10%;
    }
    .footer .info .about p{
        max-width: 175px;
    }
}    