/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
*,*::after,*::before{
    box-sizing: border-box;
}
.wrap{
    max-width: 1024px;
    margin: 0 auto;
}
.header{
    background-image: url("/img/header_desktop.png");
    width: 100%;
    min-height: 420px;
    background-size: cover;
    position: relative;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 10px 30px;
    background-color: rgba(0, 0, 0, 0.8);
}
.nav-bar .logo{
    background-image: url("/img/logo_w@svg.svg");
    width: 120px;
    height: 24px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.nav-bar .menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-bar .menu a{
    text-decoration: none;
    font-size: 18px;
    margin-left: 30px;
    color: white;
}
.nav-bar .menu a::after{
    margin-left: 31.5px;
    content: "";
    position: relative;
    border-bottom: white solid 2px;
    width: 0%;
    top: 10px;
    display: block;
    transition: all .2s;
}
.nav-bar .menu a:hover::after{
    width: 50%;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner .text{
    width: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 35%;
}
.banner .text .slogan{
    color: white;
    font-size: 30px;
    padding: 5% 3% 3% 3%;
    text-align: center;
}
.banner .text p{
    color: white;
    font-size: 16px;
    padding-bottom: 5%;
    text-align: center;
    line-height: normal;
}
.container .section1{
    background-color:#efe9e7;
}
.container .section1 h2{  
    font-size: 26px;
    color: #3d1101;
    line-height: normal;
    text-align: center;
    padding-top: 5%;
    position: relative;
    display: block;
}
.container .section1 h2::before,.container .section1 h2::after{
    content: "";
    position: absolute;
    height: 2px;
    background-color: #979797;
    width: 122px;
    top: 65%;
}
.container .section1 h2::before{
    left: 65%;
}
.container .section1 h2::after{
    right: 65%;
}
.container .section1 img{
    max-width: 200px;
}
.container .section1 .feature{
    display: flex;
    justify-content: space-between;
    margin: 8% 5% 0% 5%;
    padding-bottom: 5%;
}
.container .section1 .feature .feature1,.feature2,.feature3{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .section1 .feature h3{
    font-size: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
}
.container .section1 .feature p{
    font-size: 18px;
    line-height: 20px;
    text-align: initial;
}
.container .section2{
    padding: 0 3% 0 3%;
    display: flex;
    background-color: #3d1101;
}
.container .section2 img{
    max-width: 470px;
    height: auto;
}
.container .section2 .today_chef{
    width: 48%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.container .section2 .today_chef h3{
    font-size: 20px;
    padding-bottom: 2%;
}
.container .section2 .today_chef h4{
    font-size: 15px;
    padding-bottom: 5%;
}
.container .section2 .today_chef p{
    font-size: 15px;
    line-height: 20px;
}


.footer{
    width: 100%;
    background-color: #efe9e7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_logo_socialmedia{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .logo{
    background-image: url("/img/logo_l@svg.svg");
    width: 240px;
    height: 48px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 40px;
    margin-bottom: 40px;
}
.socialmedia{
    display: flex;
    max-width: 180px;
    margin-bottom: 40px;
}
.socialmedia li{
    padding-right: 10px;
    padding-left: 10px;
}
.footer .info{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    min-width: 40%;
}
.footer .info h3{
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: bold;
}
.footer .info .about p{
    max-width: 250px;
    line-height: normal;
}
.footer .info .contact li{
    padding-bottom: 5px;
}
